.keyboard {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.key-row {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.key {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: x-large;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 1px 1px 2px grey;
}

[data-prefers-color="dark"] .key {
  background-color: rgba(255, 255, 255, 0.5);
}

.key-active {
  background-color: rgba(0, 0, 0, 0.1);
}

[data-prefers-color="dark"] .key-active {
  background-color: rgba(255, 255, 255, 0.2);
}
