.keyboard {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.key-row {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.key {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: x-large;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 1px 1px 2px grey;
}

[data-prefers-color="dark"] .key {
  background-color: rgba(255, 255, 255, 0.5);
}

.key-active {
  background-color: rgba(0, 0, 0, 0.1);
}

[data-prefers-color="dark"] .key-active {
  background-color: rgba(255, 255, 255, 0.2);
}

.res-hapin,
.res-cyrillic {
  font-size: xx-large;
}

.res-arabic {
  font-size: 50px;
}

.res-hapin,
.res-cyrillic,
.res-arabic {
  margin-left: 20px;;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border: 1px solid grey;
  border-radius: 5px;
  min-height: 60px;
  min-width: 60px;
  text-align: center;
  vertical-align: center;
  background-color: rgba(0, 0, 0, 0.1)
}

[data-prefers-color="dark"] .res-hapin,
[data-prefers-color="dark"] .res-cyrillic,
[data-prefers-color="dark"] .res-arabic {
  background-color: rgba(255, 255, 255, 0.2);
}

.maping {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.maping-item {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
